<div class="min-h-screen flex justify-center bg-gray-100 pt-16"> <!-- Adjusted pt-8 to pt-16 -->
  <div *ngIf="message" [ngClass]="alertClass" class="mt-3 p-3 rounded text-white">
    {{ message }}
  </div>
  <form [formGroup]="createHomeworkForm" (ngSubmit)="onHomeworkSubmit()" class="w-full max-w-lg p-6 bg-white rounded-lg shadow-md">
    <!-- First Row: Class Name and Price -->
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-class">
          Class name
        </label>
        <div class="relative">
          <select
            formControlName="classroom"
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-class"
          >
            <option value="" disabled selected>Select a classroom</option>
            <option *ngFor="let cls of classes" [value]="cls.classname">{{ cls.classname }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-price">
          Book
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-price"
          type="text"
          formControlName="book"
          placeholder="Book"
        />
      </div>
    </div>
    <!-- Second Row -->
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-homework">
          Homework
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-homework"
          type="text"
          formControlName="homework"
          placeholder="Homework description"
        />
      </div>
    </div>
    <!-- Third Row -->
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
          Start Date
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-city"
          type="date"
          formControlName="createdate"
          placeholder=""
        />
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
          Due date
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-zip"
          type="date"
          formControlName="duedate"
          placeholder=""
        />
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-page">
          Page No.
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-page"
          type="text"
          formControlName="page"
          placeholder="Page number"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="flex mt-6">
      <button
        class="bg-black w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Create Homework
      </button>
    </div>
  </form>
</div>
