<div class="block max-w-screen-xl p-8 bg-white border border-gray-200 rounded-lg shadow-lg">

  <h1 class="font-semibold text-2xl"> Payments Management</h1>
  <div class="mt-1.5">
    <div class="flex items-center justify-between">
      <input
        type="text"
        id="classSearch"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for payments..."
      />
      <button (click)="openCreatePaymentDialog()" class="bg-black hover:bg-gray-950 text-white font-bold py-2 px-4 rounded">Add Payment</button>
    </div>
    <h3 class="mt-8 text-lg font-semibold">Payments</h3>
  </div>
  <!-- table starts here-->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="classTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Student
        </th>
        <th scope="col" class="px-6 py-3">
          Classroom
        </th>
        <th scope="col" class="px-6 py-3">
          Level
        </th>
        <th scope="col" class="px-6 py-3">
          Amount Paid
        </th>
        <th scope="col" class="px-6 py-3">
          Date Paid
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paymentItem of payments" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ paymentItem.student }}
        </td>
        <td class="px-6 py-4">
          {{ paymentItem.classroom }}
        </td>
        <td class="px-6 py-4">
          {{ paymentItem.level }}
        </td>
        <td class="px-6 py-4">
          {{ paymentItem.amount }}
        </td>
        <td class="px-6 py-4">
          {{ paymentItem.date }}
        </td>
        <td class="px-6 py-4 text-right">
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

